@media (max-width:1230px){
    /* Navbar  */
    html {
        font-size: 56.25%;
    }
    .header .nav-item {
        margin: 0 0.5rem;
    }
    /* Banner  */
    .banner .banner-title {
        font-size: 5rem;
    }
}
@media (max-width:1070px){
    /* Navbar  */
    .header .btn {
        padding: 1rem !important;
    }
    /* About  */
    .about .about-title {
        font-size: 1.6rem;
    }
}
@media (max-width:991px){
    /* Navbar  */
    html {
        font-size: 50%;
    }
    .header .menu-navbar-nav {
        width: auto;
    }
    .header .navbar-brand img {
        width: 13rem;
    }
    .header .navbar-toggler:focus {
        box-shadow: none;
    }
    .header .menu-navbar-nav {
        text-align: center;
    }
    .header .nav-item .nav-link {
        margin-top: 1rem;
        font-size: 1.8rem;
    }
    .header .nav-item:last-child .nav-link {
        margin-bottom: 2rem;
    }
    .header .btn {
        padding: 1.2rem 2.9rem !important;
    }
    .header .navbar-collapse {
        background: var(--bg-white);
    }
    /* Banner  */
    .banner .banner-title {
        font-size: 3.6rem;
    }
    /* About  */
    .about .about_number {
        margin: 3rem auto;
    }
    .about .about-title {
        font-size: 1.6rem;
    }
}
@media (max-width:767px) {
    /* Banner  */
    .banner {
        padding: 10rem 0 10rem;
    }
    .banner .row {
        flex-direction: column-reverse;
    }
    .banner .btn-section {
      justify-content: center;
    }
    .banner .banner-title-text {
        max-width: none;
    }
    /* Pricing  */
    .free_trial .free_title  {
        font-size: 2.4rem;
    }
    /* FAQs */
    .faq .accordion-button{
        font-size: 1.8rem;
    }
    /* Footer */
    .footer .footer_logo img{
        max-width: 50%; 
    }
}